<div class="starter-template container">
	<div class="row">
		<div class="col text-left">
			<p class="search-text">Search for your favorite comic book character</p>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<div class="form-group">
				<input formControlName="txtSearch" type="text" class="form-control search-input" placeholder="Search">
			</div>
		</div>
		<div class="col-1">
			<button class="btn btn-primary search-button" (click)="searchForBooks()">Search</button>
		</div>
	</div>

	<div class="search-results" *ngIf="searchResults.length">
		<div class="row">
			<div class="col">
				<hr>
			</div>
		</div>
		<div class="issue row" *ngFor="let issue of searchResults">
			<div class="col-2 text-left">
				<img class="img-thumbnail" [src]="issue.image_url">
			</div>
			<div class="col">
				<div class="row">
					<div class="col text-left">
						<h4 class="title">{{issue.title}}</h4>
					</div>

				</div>
				<div class="row">
					<div class="col text-left">
						<div class="description">{{issue.description}}</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
